body {
  font-family:'SF Pro', 'Trebuchet MS',sans-serif;
}

.header_wrapper{
  text-align: right;
  font-weight:bold;
  font-size:25px;
  margin-right:30px;
}

header ul{
  display:flex;
  justify-content: flex-end;
}
header li{
  list-style: none;
  padding:20px;
}
header li:hover{
  color:#A0A0A0;
}

/*参考文献　https://www.esz.co.jp/blog/2792.html*/
.mask_text{
  display:inline-block;
  margin:20px;
  line-height: 1.1;
  font-size: 900px;
  font-weight: bold;
  color: rgba(0,0,0,0); 
  background: url("https://industrial-art.sd.tmu.ac.jp/images/studio-images/baba2.png") center;
  -webkit-background-clip: text;
  vertical-align: middle;
  margin-left:70px;
  margin-top:-150px;
  margin-bottom:-50px;
}

.title{
  font-size: 30px;
  display:inline-block;
  font-weight:bold;
  float:right;
  margin-top:300px;
  margin-right:70px;
}

.studios_wrapper{
  text-align: center;
  margin-bottom:80px;
}

#studios{
  text-align: center;
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
  width:90%;
}

.studios_title{
  text-align:center;
  display:inline-block;
  font-weight: bold;
  font-size:40px;
  width:100%;
}
.studioPreview_wrapper{
  text-align:center;
}

.prevImg-wrapper{
  display: inline-block;
  text-align:center;
  width:180px;
  height:250px;
  margin:0px 15px;
  vertical-align: top;
}

.studios-name{
  text-align:center;
  font-size: 12px;
  display:block;
  font-weight:700;
}

.studios-name:hover{
  color:#A0A0A0;
}

/*参考文献　https://www.nishishi.com/css/trim-image-to-circle.html*/
#studios-circleImg{
  background-image: url();  /* 表示する画像 */
  width:  180px;       /* ※縦横を同値に */
  height: 180px;       /* ※縦横を同値に */
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  background-position: left top;  /* 横長画像の左上を基準に表示 */
  /*display: inline-block; */         /* 複数の画像を横に並べたい場合 */
  padding:5px 10px;
  text-align: center;
}

footer{
  text-align:center;
  font-size: 10px;
}