body {
  /*font-family: sans-serif;*/
  font-family:'SF Pro', 'Trebuchet MS',sans-serif;
}

.header_wrapper{
  text-align: right;
  font-weight:bold;
  font-size:20px;
  margin-right:30px;
}

header ul{
  display:flex;
  justify-content: flex-end;
}
header li{
  list-style: none;
  padding:20px;
}

.title{
  font-family:'SF Pro', 'Trebuchet MS';
  font-size: 30px;
  display:inline-block;
  font-weight:bold;
}

h1, h2 {
  font-weight: 400;
  color: steelblue;
}

#studios > div {
  margin: 1em 0;
  padding: 0.5em;
  background: #f8f8f8;
  min-height: 3em;
}
.studio-title {
  font-weight: bold;
}
.studio-title-en {
  margin-left: 1em;
  font-weight: 100;
  opacity: 0.75;
}
.studio-image{
  
}

.text{
  display:inline-block;
  margin:20px;
   line-height: 1.1;
   font-size: 800px;
   font-weight: bold;
   color: rgba(0,0,0,0); 
   font-family:'SF Pro', 'Trebuchet MS';
   background: url(https://industrial-art.sd.tmu.ac.jp/images/studio-images/baba2.png) center;
   -webkit-background-clip: text;
}

footer{
  text-align:center;
}