body {
  font-family: sans-serif;
}
h1, h2 {
  font-weight: 400;
  color: steelblue;
}
#studios > div {
  margin: 1em 0;
  padding: 0.5em;
  background: #f8f8f8;
  min-height: 3em;
}
.studio-title {
  font-weight: bold;
}
.studio-title-en {
  margin-left: 1em;
  font-weight: 100;
  opacity: 0.75;
}

.text{
  margin:20px;
   line-height: 1.1;
   font-size: 3.5em;
   font-weight: bold;
   color: rgba(0,0,0,0); 
   background: url(https://f.uploader.xzy.pw/eu-prd/upload/20191108160539_6f73696931.jpg) center;
   -webkit-background-clip: text;
}